################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LendingChallenge.Api/.vs/LendingChallenge/CopilotIndices/17.12.38.29086

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
